body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    background-color: #f0f4f7;
}
input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}
button {
    cursor: pointer;
}
nav {
    background-color: rgb(255,156,8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 68px;
    z-index: 20;
}
nav > .logo {
    color: #0639c1;
    font-size: 36px;
    text-decoration: none;
    font-weight: bold;
}
nav > .log-out {
    background-color: #f2f2f2;
    font-family: 'Libre Baskerville', serif;
    height: 36px;
    width: 80px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 4px #888;
}
.product-tab {
    margin: 70px 30px 20px 40px;
}
.head-product-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.head-product-tab > div {
    display: flex;
}
.head-product-tab h3 {
    margin: 0;
}
.head-product-tab > button {
    background-color: #3899ec;
    font-family: 'Libre Baskerville', serif;
    height: 36px;
    width: 160px;
    border: 0;
    border-radius: 18px;
    box-shadow: 0 0 16px rgb(233, 233, 233);
    color: white;
    font-size: 1rem;
}
#num-product {
    margin: 0 8px;
}
.display-product, .display-orders {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 16px rgb(233, 233, 233);
}
.select-filter-product, .select-filter-orders {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.search-tab {
    display: flex;
    align-items: center;
}
.search-tab > .icon-search {
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/1020/1020190.svg');
    width: 24px;
    height: 24px;
}
.search-tab > input {
    border: 0;
}
.select-filter-product select, .select-filter-product > .search-tab,
.select-filter-orders select, .select-filter-orders > .search-tab {
    width: 200px;
    height: 30px;
    margin: 8px;
    border: 1px solid #3899ec;
    border-radius: 15px;
    padding: 0 8px;
    font-family: 'Libre Baskerville', serif;
    cursor: pointer;
}
.table-img-product {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.table-display-product, .table-display-order {
    width: 100%;
}
.table-topics {
    background-color: #f0f4f780;
    font-size: 0.8rem;
    height: 40px;
}
.table-display-product ,.table-display-product td, .table-display-product th,
.table-display-order ,.table-display-order td, .table-display-order th {
    border-collapse: collapse;
}
.table-display-product td, .table-display-product th, 
.table-display-order td, .table-display-order th {
    text-align: center;
    vertical-align: middle;
}
.table-display-product > tbody > tr:hover {
    cursor: pointer;
    background-color: #e8f4ff;
}
.action-edit-product {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.table-display-product .visibility, .table-display-product .duplicate, .table-display-product .delete {
    width: 20px;
    height: 20px;
    opacity: 0.4;
    margin: 20px;
    background-size: cover;
}
.table-display-product .visibility {
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/565/565655.svg');
}
.table-display-product .duplicate {
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/1477/1477084.svg');
}
.table-display-product .delete {
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/1345/1345874.svg');
}
.table-display-product .visibility:hover, .table-display-product .duplicate:hover, .table-display-product .delete:hover {
    opacity: 0.76;
}

.orders-tab {
    margin: 20px 30px 20px 40px;
}
.head-orders-tab {
    padding: 12px 0;
}
.table-display-order > tbody > tr:hover {
    cursor: pointer;
    background-color: #e8f4ff;
}
.detail-order > .detail {
    width: 20px;
    height: 20px;
    opacity: 0.4;
    margin: 20px;
    background-size: cover;
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/271/271228.svg');
}