.img-slide-section {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img-slide-section input {
  display: none;
}
.image-head {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 100%;
  margin-top: -4.6px;
}
.arrow-button > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 160px;
  opacity: 0.6;
}
.arrow-button > div.prev-div {
  background: linear-gradient(to right, #333, transparent);
}
.arrow-button > div.after-div {
  background: linear-gradient(to right, transparent, #333);
}
.arrow-button > div:hover {
  cursor: pointer;
  opacity: 0.8;
}
.prev-img {
  background-image: url("https://image.flaticon.com/icons/svg/271/271220.svg");
  border-width: 0px;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-color: transparent;
}
.after-img {
  background-image: url("https://image.flaticon.com/icons/svg/271/271228.svg");
  border-width: 0px;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-color: transparent;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}

@media screen and (max-width: 1200px) {
  .img-slide-section {
    height: 380px;
  }
}
@media screen and (max-width: 1128px) {
  .img-slide-section {
    height: 340px;
  }
}
@media screen and (max-width: 1000px) {
  .img-slide-section {
    height: 300px;
  }
}
@media screen and (max-width: 940px) {
  .img-slide-section {
    height: 280px;
  }
}
@media screen and (max-width: 864px) {
  .img-slide-section {
    height: 250px;
  }
}
@media screen and (max-width: 790px) {
  .img-slide-section {
    height: 220px;
  }
  .arrow-button > div {
    width: 140px;
  }
  .prev-img,
  .after-img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 700px) {
  .img-slide-section {
    height: 200px;
  }
}
@media screen and (max-width: 650px) {
  .img-slide-section {
    height: 170px;
  }

  .arrow-button > div {
    width: 100px;
  }
  .prev-img,
  .after-img {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 550px) {
  .img-slide-section {
    height: 150px;
  }
}
@media screen and (max-width: 500px) {
  .img-slide-section {
    height: 120px;
  }

  .arrow-button > div {
    width: 60px;
  }
  .prev-img,
  .after-img {
    width: 20px;
    height: 20px;
  }
}
